@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.productImg{
  max-width: 200px;
}

.productCard{
  border: 1px solid black;
  margin: 20px;
  border-radius: 20px;
  padding: 30px;
}

*{
  font-family: "Google Sans", sans-serif;
}